Repository harakeke-2019/food-mood, pull requests merged in 2019-03, with the labels that each got.

#131 130 add meal button
  client/components/Dashboard.jsx
Labels: bug, client, good first issue

#132 centred submit button
  client/components/AddMeal.jsx
Labels: bug, styling

#181 175 edit meal component
  client/components/App.jsx
  client/components/EditMeal.jsx
  tests/db/dbAuth.test.js
Labels: client

#208 179 edit meal db
  client/components/EditMeal.jsx
  server/db/meals.js
  server/routes/meals.js
  yarn.lock
Labels: db

#230 styled editmeal
  client/components/EditMeal.jsx
  yarn.lock
Labels: client, styling

#232 styled deletemeal
  client/components/DeleteMeal.jsx
Labels: client, styling

#234 styled editMood
  client/components/EditMood.jsx
  server/public/main.css
Labels: client, styling

#239 206 style deletemood
  client/components/DeleteMood.jsx
Labels: client, styling

#240 fixed emoji positions
  client/components/AddMood.jsx
Labels: client, styling

#242 styled login page
  client/components/Login.jsx
Labels: client, styling

#245 fixed calendar page styling
  client/components/Calendar.jsx
Labels: client, styling

#254 styled registration page
  client/components/Register.jsx
Labels: client, styling

#258 202 styling stats page
  client/components/OverallStats.jsx
  client/components/SelectedStats.jsx
  client/components/Stats.jsx
Labels: client, styling

#260 fixed addmeal spacing
  client/components/AddMeal.jsx
Labels: client, styling

#262 fixed nav bar and some other lil things
  client/components/Meal.jsx
  client/components/Mood.jsx
  server/public/main.css
Labels: client, styling

#267 fixed spacing at bottom of long pages
  client/components/Meal.jsx
Labels: client, styling

#275 Fixing dates
  client/components/Meal.jsx
  client/components/Mood.jsx
Labels: client, styling
